/*Colors: */
/*orange:#CF4F33 */
/*blue:#0D54AB*/
/*white: #ffffff*/
/*dark gray: 464646*/
/*border color: #d0cfb8 */
/*footer/news: #DEE7EF */
/*Fonts:*/
/*main text "PT Sans", sans-serif (Note: must be loaded in each page)*/
/*headers: Futura, Helvetica, sans-serif;*/

html{
	height: 100%;
}
sup{
	font-size: 8px;
}
body{
	border:0;
	background-color: #ffffff;
	height: 100%;
	margin:0px;
}
a{
	color:#0D54AB;
	text-decoration:none;
}
a:hover{
    color:#CF4F33;
}

img{border:0;}

/* Specific classes and elements (alphebetized)*/

#about{
	margin-right:10px;
	margin-left:10px;
	width:290px;
	margin-bottom:30px;
}
.about_right{
    	position:relative; 
	text-align:center;
	float:right;
	margin-left: 2px;
	margin-bottom:3px;
	clear:right;
	width:105px;
}
.about_right img{
    margin-right:12px;
    margin-left:12px;
}

#all {
	width:100%;
	min-height:100%;
	position: relative;
}
.authors{
	font-size:15px;
	color:#0D54AB;
}
.blue{
	color:#0D54AB;
}
.clearfooter {
	height: 60px;
	clear: both;
}

#container{
	width:940px;
	height:92px;
	position:relative;
	z-index:0;
	margin-left: auto;
	margin-right: auto;
}
#container_home {
	width:940px;
	height:524px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:0;
}
#content {
	height:auto;
	margin-top:40px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	background-color: #ffffff;
}
#content-wrap{
	width:940px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	min-height: 550px;
}
#content-main{
	float:left;
	width:620px;
}
#content-wrap h2 {
	border-bottom:solid 2px #d0cfb8;
	font-family:'Quattrocento Sans', sans-serif;
	font-size:26px;
	font-weight:normal;
	margin-bottom:10px;
	padding-bottom:3px;
	text-transform:uppercase;
}
#content_middle {
	float:right;
	width:300px;
	margin-top: 0;
	height: auto;
	margin-bottom:15px;
}
#content_middle .movie{
	margin-left:50px;
	margin-right:50px;
}
#content_right {
	float:right;
	width:300px;
	padding:0px;
	margin-bottom:15px;

}
#content_left {
	float:left;
	position:relative;
	width:300px;
}
.download_item{
	border-bottom:solid 2px #d0cfb8;
	width:100%;
	margin-bottom:25px;
	padding-bottom:15px;
	margin-top:25px;
}
#footer h2{
	font-family:'Quattrocento Sans', sans-serif;
	font-size:16px;
	font-weight:normal;
	margin-bottom:18px;
	text-transform:uppercase;
}
#footer{
	height: 110px;
	margin-right: auto;
	margin-left: auto;
	margin-top:10px;
	padding-top: 2px;
	text-align: center;
	float: none;
	padding-left: 10px;
	background-color: #DEE7EF;
	position: relative;
}
.footer_left{
	float:left;
	margin-top:20px;
	margin-left:18px;
	padding-right:18px;
	position:relative;
	border-right: solid 2px #d0cfb8;
	height:80px;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	color: #000;
	text-align:left;
}
.footer_right{
	float:right;
	margin-right:40px;
	text-align:right;
	position:relative;
	margin-top:30px;
	font-size:12px;
	font-family: "PT Sans", sans-serif;
}
.footer_title{
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	text-align:right;
	width:100%;
}
#footer .section_title{
	width:100%;
	text-align:center;
	margin-bottom:10px;
	font-family:'Quattrocento Sans', sans-serif;
	font-size:15px;
	font-weight:normal;
	margin-bottom:5px;
	padding-bottom:4px;
	text-transform:uppercase;
	border-bottom:solid 2px #d0cfb8;
}
#footer .logo{
	float:left;
}
#footer .logo_box{
	display:inline-table;
	width:40px;
	height:40px;
	background-color:#ffffff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:solid 1px #d0cfb8;
}
#footer .logo_box .img1 {
	margin-top:5px;
}
#footer .logo_box .img2 {
	margin-top:7px;
}
#footer .logo_box .img3 {
	margin-top:4px;
}
#header{
	left:0;
	height:72px;
	position:absolute;
	top:0px;
	width:100%;
	background-color:#ffffff;
	z-index:5000;
}
#headerLogo{
	height:70px;
	left:4px;
	position:absolute;
	top:0px;
	z-index:8000;
	opacity:0.5;	
}
.join_box{
	margin-top:50px;
	font-family: "PT Sans", sans-serif;
	border:solid 2px #ffffff;
	color:#000;
	display:block;
	font-size:18px;
	line-height:18px;
	padding:8px;
	text-align:center;
	-webkit-border-radius:66px;
	-moz-border-radius:6px;
	border-radius:6px;
	float:left;
}
.join_top{
	width:100%;
	height:130px;
	margin-bottom:20px;
}
.join_image{
	float:right;
	border-style:solid;
	border-color:#464646;
	border-width:2px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:0px;
}
.maintext{
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	color: #000;
}
#menubar {
	position:absolute;
	margin:0;
	padding:0;
	z-index: 7000;
	right:0px;
	font-family: "PT Sans", sans-serif;
	top:20px;
	width:650px;
}
.menu {
	margin:0;
}
.menu li{
	color:#000000;
}
.menu a {
	color:inherit;
	text-decoration:none;
	display:block;
}
.menu li {
	display:block;
	float:right;
	list-style-type: none;
	list-style-image: none;
	font-size:16px;
	text-transform:uppercase;
	padding-top: 6px;
	padding-bottom:4px;
	padding-right: 10px;
	padding-left: 10px;
}
.menu li:hover {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center 26px;
	color: #CF4F33;
}
.menu .active {
	color: #CF4F33;
}
.movie {
	height: auto;
	width: auto;
	margin-top: 15px;
}
.movie_text{
	margin-left:10px;
	margin-right:10px;
}
.news_table{
	border:0px;
}
.newsheader {
	display:block;
	font-size:12px;
	color:#0D54AB;
	margin-bottom:3px;
	margin-left:5px;
	width:280px;
}
.newsmain{
	width:280px;
	margin-left:5px;
}	
#news_source {
	font-size:16px;
	text-transform:uppercase;
	color:#0D54AB;
	margin-bottom:6px;
	width:100%;
	line-height:16px;
}
#news_title {
	font-size:18px;
	line-height:20px;
	color:#000000;
	width:100%;
	margin-top:4px;
	margin-bottom:4px;
}	
#news_info {
	display:block;
	font-size:14px;
	line-height:16px;
	padding:10px;
	background-color:#DEE7EF;
	width:700px;
	margin-left:20px;
	margin-bottom:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border-width: 1px;
	border-style: solid;
	border-color: #d0cfb8;
}
.news.textlink a{
	padding-bottom:18px;
	padding-left:10px;
	padding-right:10px;
}
.news.textlink a:hover{
	padding-bottom:17px;
	padding-left:9px;
	padding-right:9px;
}
#news_date {
	font-size:12px;
	color:#0D54AB;
	float:right;
	margin-bottom:15px;
}

#people {
	margin-bottom: 30px;
}
.people_table{
	border:0px;
}
.people_image{
	margin-left:0px;
}
.people_row {
	height: 230px;
	margin-bottom: 5px;
	width: 680px;
	border-bottom:solid 2px #d0cfb8;	
}
.people_cell{
	margin-top:8px;
	width:165px;
	padding:3px;
	vertical-align:text-top;
}
.people_names{
	font-size:16px;
	color: #0D54AB;
	float:left;
	line-height:17px;
}
.people_info {
	float:left;
	clear:both;
	font-size:12px;
}
#personal_top{
	width:500px;
	height:200px;
	font-size:16px;
	color:#0D54AB;
	margin-bottom:25px;
}
#personal_image{
	float:left;
	margin-right:15px;
}
#personal_info{
	padding-top:60px;
}
#personal_name{
	font-size:20px;
}
.pitext {
	font-size: 12px;
	color: #0D54AB;
	font-family: "PT Sans", sans-serif;
}	
.pitext.small{
	font-size:11px
}
#pubs {
	padding-left: 50px;
	margin-bottom: 30px;
}
.pubs_table{
	border:0px;
}
.pubs_table td{
	padding:4px;
}


.publeft {
	width: 50px;
	margin-right:2px;
	float:left;
}
.pubright {
	width: 700px;
	float:right;
	text-align:left;
}
.pubright_home {
	width: 210px;
	float:right;
	text-align:left;
}

.readmore a {
	font-family: "PT Sans", sans-serif;
	background-color:#373FA2;
	color:#ECE41D;
	display:block;
	font-size:13px;
	line-height:13px;
	padding:5px 5px 6px 5px;
	text-align:right;
	text-decoration:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	width:280px;
}
.readmore a:hover {
	background-color:#CF4F33;
}

.research_topic{
	width:800px;
	margin-bottom:40px;
	overflow:auto;
}

.research_right{
	position:relative;
	width:400px;
	float:right;
	margin-left:16px;
	clear:both;
	font-size:11px;
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;

}

.research_left{
	position:relative;
	width:200px;
	float:left;
	margin-right:16px;
	clear:both;
	font-size:11px;
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
}

.spacer{line-height:10px;}

#subtitle{
	border-bottom:solid 2px #d0cfb8;
	font-family:'Quattrocento Sans', sans-serif;
	font-size:26px;
	font-weight:normal;
	margin-bottom:10px;
	padding-bottom:8px;
	text-transform:uppercase;

}
.textlink a{
	display:inherit;
	font-size: 14px;
	color: #000;
	text-decoration:none;	
	padding:5px;
	line-height:14px;
}
.textlink a:hover {
	border-style:solid;
	border-color:#000;
	border-width:thin;
	padding:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
  	-moz-box-shadow: 4px 4px 4px #ccc;
  	-webkit-box-shadow: 4px 4px 4px #ccc;
  	box-shadow: 4px 4px 4px #ccc;
}

.shadow {

}
#important_text{
	font-size:18px;
}
.titles{
	font-size:15px;
}

.transparent {
        /* Required for IE 5, 6, 7 */
        /* ...or something to trigger hasLayout, like zoom: 1; */
        zoom:1; 

        /* Theoretically for IE 8 & 9 (more valid) */
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=85);

        /* Older than Firefox 0.9 */
        -moz-opacity:0.85;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.85;

        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.85;
}

#wrapper{
	background:#FFFFFF url(/images/bg_wrapper_stripe.png) repeat-x 0 0;
	width:100%;
	height: 92px;
	left:0px;
}
#wrapper_home {
	background:#ffffff url(/images/bg_wrapper_stripe.png) repeat-x 0 0;
	border-bottom:solid 2px #d0cfb8;
	margin-bottom:0px;
	width:100%;
	height:100%;
	left:0px;
}
